# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# Secrets
.env
*.env

# Temp
temp/
__blobstorage__/

media/videos/